<%= javascript_include_tag "ckeditor/ckeditor" %>
<div class="panel panel-default">
  <div class="panel-heading"> Editing note #<%= @note.id %> </div>
  <div class="panel-body">
    <form method="post" action="note/edit/<%= @note.id %>" id="noteEditor">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <input type="text" name="title" required="true" class="form-control" value='<%= @note.title %>'>
        <textarea name="ckeditor" id="ckeditor"><%= @note.content %></textarea>
        <script>
          CKEDITOR.basePath = '/assets/ckeditor/';
          CKEDITOR.replace( 'ckeditor' );
        </script>
      </div>
    </form>
  </div>
</div>
